#panel-container {
    background-color: #fffcf9;
    display: grid;
    grid-template-columns: auto 250px;
    grid-template-rows: 40px auto 40px;
    row-gap: 40px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 30px;
}

#activity-samples {
    grid-column: 1 /2;
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    overflow-x: hidden;
    background-color: #f9f4f0;
    border-radius: 10px;
    align-self: stretch;
}

#events-list-pane {
    grid-column: 2 / 3;
    grid-row: 2/3;
    align-self: stretch;
}

.item-num {
    display: flex;
    color: #411919;
    grid-column: 1 / -1;
    align-items: center;
    justify-content: center;
}

/* scroll bar styling */
/* For Webkit-based browsers */
#panel-container ::-webkit-scrollbar {
    width: 15px;
    height: 0;
}

/* Track */
#panel-container ::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

/* Handle */
#panel-container ::-webkit-scrollbar-thumb {
    background-color: #d9d0c8;
    border-radius: 3px;
}

/* Handle on hover */
#panel-container ::-webkit-scrollbar-thumb:hover {
    background-color: #b0988d;
}

/* Video player container */
.video-player-container {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.video-player-container button {
    background-color: #ca7c7c;
    border: none;
    border-radius: 7px;
    height: 25px;
    width: 110px;
    color: #ffffff;
    cursor: pointer;
}
