.App {
    background-color: #f5eee8;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

#vis-panel {
    display: flex;
}
